body{
    background-color: #210e75;
    font-family:sans-serif;
}

b{
    background-color: #cec7c7;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 500px;
    margin-right: 100px;
    box-shadow: gray 1px 2px 5px;
    border: gray 1px solid;
    font-size: 20px;
}

.inputBox{
    color: white;
}